* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
* {
	margin: 0px;
	padding: 0px;
	line-height: 1.7;
}

a:hover {
	text-decoration: none;
}

body {
	height: 100vh;
	font-size: 1.1rem;
}

header {
	display: table;
	min-height: 150px;
	width: 100%;
	background-image: linear-gradient(transparent, darkcyan, darkcyan, darkcyan);
	text-align: left;
	font-size: 2rem;
	text-align: center;
}

header .title {
	display: table-cell;
	vertical-align: middle;
	padding: 2rem;
	padding-bottom: 2.5rem;
}

header .title h1 {
	font-size: 2.5rem;
	font-family: 'Charmonman', cursive;
	color: goldenrod;
	/*text-shadow: 1px 1px 10px black;*/
}

header .title h1 .vibration {
	color: aquamarine;
	font-size: 3.2rem;
	text-shadow: 0px 0px 10px;
}

header .title h1.subpage-title {
	/*font-family: 'Gupter', cursive;*/
}

h3{
	margin: 0 auto;
	text-align: center;
	padding-bottom: 0.5rem;
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	color: aquamarine;
	text-shadow: 1px 1px 10px;
}

.front-image {
	text-align: center;
	min-height: 62vh;
	/*margin-bottom: -7rem; 2rem*/
	padding-top: 2rem;
	margin-bottom: 5rem;
	background-image: radial-gradient(turquoise, #008486);
	box-shadow: 0px 0px 10px black;
}

.front-image img {
	max-height: 50vh;
	max-width: 80vw;
	border-radius: 50%;
	box-shadow: 0px 0px 10px black;	
}

#front-image {
	animation-name: rotate360;
	animation-duration: 10s;
}

@keyframes rotate360 {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

section {
	font-size: 1.3rem;
	padding-bottom: 1rem;
	text-align: center;
}
section.text-center {
	text-align: center;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 80px;
	width: 100%;
	background-color: darkcyan;
	text-align: center;
	line-height: 0;
	padding: 0.5rem;
	font-size: 0.8rem;	
}

footer a {
	color: goldenrod;
}

footer a.sublink {
	color: darkgoldenrod;
	font-size: 90%;
}


/* ====== NAVIGATION STYLES ====== */
.navbar-custom {
	padding-top: 1rem;
	background-color: darkcyan;
	/*background-image: linear-gradient(goldenrod, darkcyan);*/
	box-shadow: 0px 0px 10px black;
}

#navbar-main-page {
	/*background-image: linear-gradient(goldenrod, darkcyan);*/
}

.navbar-custom .navbar-nav {
	display: flex;
	margin-left: auto;
}

.navbar-custom .navbar-nav .nav-item {
	line-height: 2.0;
	margin:  0  auto;
	padding: 0 0.7rem;
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
	font-size: 1.1rem;
	text-shadow: 1px 1px 10px;
}

.navbar-custom .navbar-nav .nav-link {
	color: navajowhite;
}

.navbar-custom .navbar-nav .nav-link:hover{
	color: turquoise;
}

.custom-toggler {
	display: flex;
	margin: 0 auto;
	font-size: 1.7rem;
}

.darkcyan {
	/*background-image: radial-gradient(aquamarine 5%, darkcyan 95%);*/
	background-color: darkcyan;
	/*background-image: linear-gradient(midnightblue, darkcyan);*/
}

.about-me-img {
	text-align: center;
}

.about-me-img img {
	/*margin: 2rem auto;*/
	margin-top: 0rem;
	max-height: 50vh;
	max-width: 60vw;
	box-shadow: 1px 1px 10px black;
	border-radius: 50%;
}
a h2.header-subtitle {
	/*position: absolute;*/
	display: table-cell;
	vertical-align: middle;
	font-family: 'Charmonman', cursive;
	font-size: 1.15rem;
	/*right: 7vw;
	padding-top: 0.75rem;
	padding-right: 1rem;*/
	/*transform: rotate(-15deg);*/
	/*border-bottom: 2px solid;*/
	border-bottom-color: lightcyan;
	color: aquamarine;
	text-shadow: 1px 1px 7px aquamarine;
}

a .icon-img {
	display: table-cell;
	vertical-align: middle;
	width: 33px;
	border-radius: 50%;
	border: px solid white;
	margin-right: 0.5rem;
	box-shadow: 0px 0px 10px black;
}

.logo-wrapper {
	display: table;
}

.logo {
	display: table;
	margin-right: 1rem;
}

#mandala-author {
	position: absolute;
	font-size: 0.7rem;
}

#quote {
	margin-bottom: 2rem;
	font-size: 2.3rem;
	line-height: 1.3;
	letter-spacing: 3px;
	text-align: center;
	color: turquoise;
	font-family: 'Dancing Script';
	text-shadow: 1px 1px 15px;
	opacity: 90%;
}

a.facebook-custom {
	position: fixed;
	right: 0;
	top: 55vh;
	color: paleturquoise;
	font-size: 2.5rem;
	z-index: 2;
}
a.facebook-custom:hover {
	color: darkcyan;
	text-shadow: 1px 1px 7px aquamarine;
}

img.basic-picture {
	width: 250px;
	box-shadow: 2px 2px 5px 1px black;
	border: 1px solid darkgoldenrod;
	margin: 1rem auto;
}

#news h3 {
	/*font-size: 3rem;
    color: darkcyan;
    font-family: 'Dancing Script', cursive;
    margin: 1.5rem 0rem auto;
    text-shadow: 0px 0px 0px;*/
	color: darkcyan;
	font-size: 3.2rem;
	text-shadow: 0px 0px 0px;
}

hr {
	margin: 0 auto;
	max-width: 80vw;
	margin-bottom: 3rem;
}

h4 {
	padding: 1rem;
	font-weight: normal;
}

section {
	padding-right: 10vw;
	padding-left: 10vw;
	margin-bottom: 1rem;
	font-family: Gupter;
	/*font-family: 'Libre Baskerville', serif;*/
	font-size: 1.rem;
}

#news {
	/*background-color: hsla(60, 80%, 90%, 0.5);*/
	/*background-color: hsla(60, 80%, 90%, 0.5);*/
	padding: 1rem;
	margin-bottom: 4rem;
	margin-top: 4rem;
	/*background-color:aquamarine*/
	/*background-color: goldenrod;
	background-image: radial-gradient(goldenrod, darkcyan);
	color: antiquewhite;
    background-image: radial-gradient(#00b8ff80, #00518b);
	background-color: rgba(10, 181, 185, 0.82);*/
}

#read-more {
	display: block;
	margin: 1rem auto;
	min-height: 70px;
	border: none;
	/*border-radius: 50%;
	border: 5px solid;*/
	background-color: transparent;
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
	padding: 0.5rem;
	color: goldenrod;
	/*text-shadow: 0px 0px 3px;
	box-shadow: 0px 0px 10px;*/
}

#read-more:hover {
	color: paleturquoise;
	font-size: 1.5rem;
	text-shadow: 0px 0px 3px;
}

div.container-custom {
	/*position: relative;
	padding-left: 0;
	padding-right: 0;
	margin: 0rem auto;*/
	margin-bottom: 100px;
}

#cd-cover {
	max-width: 70vw;
	max-height: 60vh;
	margin: 1rem auto;
	box-shadow: 0px 0px 5px black;
}

#news-title a {
	/*font-weight: bold;*/
	font-family: 'Crimson Text', serif;
	color: ;
	font-size: 1.6rem;
    text-transform: uppercase;
	color: goldenrod;
}

#news-title a:hover {
	color: paleturquoise;
	text-shadow: 1px 1px 7px;
}

/*===========================*/
/* ===== MEDIA QUERIES ===== */
/*===========================*/

@media (min-width: 576px) and (max-width: 650px){
	.navbar-custom .navbar-nav .nav-item {
		padding: 0 0.25rem;
		font-size: 1rem;
	}	
}

@media (min-width: 768px) {
	#cd-cover {
		max-width: 20vw;
	}
	.front-image img {
		max-height: 67vh;
	}
}
	
@media (min-width: 1024px) {
	.front-image img {
		max-height: 70vh;
	}
}
